
.atm-message {
  margin: 24px 12px 0 12px;
  text-align: center;
}

.atm-pin-input {
  background: white;
  border: none;
  font-size: 40px;
  width: 2em;
  height: 0.75em;
  color: black;
  margin-top: 14px;
  text-align: center;
}

.atm-pin-invalid {
  font-size: 26px;
  line-height: 1em;
}

.atm-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1;
  align-items: flex-end;
  padding-bottom: 25px;
  font-size: 38px;

  .atm-actions-left {
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    > * {
      height: 42px;
    }
  }

  .atm-actions-right {
    justify-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    > * {
      height: 42px;
    }
  }

}
