
.atm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .atm-header {
    display: flex;
    place-items: center;
    margin-top: 96px;
    padding: 16px 64px;
    background-color: #126cae;
    border-radius: 16px;
  }
  .atm-body {
    height: 100%;
    display: flex;
    place-items: center;
    margin: 0 24px;
    background-color: white;
    border-top: 10px solid #bebebe;
  }
}
