
.atm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .atm-header {
    display: flex;
    place-items: center;
    justify-content: center;
    margin-top: 96px;
    padding: 28px 64px;
    background-color: #126cae;
    border-radius: 16px;
    min-height: calc(300 - (28px * 2));
    width: calc(854px - (64px * 2));

    img {
      object-fit: fill;
      height: 240px;
    }
  }

  .atm-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 50px;
    background-color: white;
    border-top: 20px solid #bebebe;

    .atm-cards {
      display: flex;
      justify-content: center;
      place-items: center;
      height: 70px;
      gap: 20px;
      transform: scale(1.75);

      > * {
        height: 36px;
        object-fit: fill;
      }
    }

    .atm-interface {
      display: flex;
      flex-direction: row;
      padding: 0 26px;

      .atm-screen {
        border: #e1e1d6 solid 10px;
        background-color: #7eb4d5;
        width: 474px;
        height: 446px;
        display: flex;
        flex-direction: column;
      }

      .atm-left {
        margin-left: 26px;
        display: flex;
        flex-direction: row;
      }
      .atm-right {
        margin-right: 26px;
        display: flex;
        flex-direction: row;
      }
      .atm-center {
        position: relative;
      }

      .atm-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 34px;
        gap: 20px;
      }
      .systemsLogo {
        position: absolute;
        right: 4%;
        bottom: -4%;
        transform: scale(1.75);
      }
    }
  }
}
